{{extend './layout.html'}}
    {{block 'title'}}{{title}}{{/block}}

    {{block 'menu'}}
        {{include './blocks/Menu.html'}}
    {{/block}}

    {{block 'banner'}}
        {{include 'blocks/banner'}}
    {{/block}}


    {{block 'content'}}
    <div class="pro-se w1000">
        <div class="pro-fi">
            <div class="intoentit"><img src="img/title/338.png" alt="Brand Profile" width="326" height="34"></div>
            <div class="intocntit">总经理致辞</div>
        </div>
        <div class="le">
            <img src=" img/201601117775.jpg">
        </div>
        <div class="ri">
            <p style="text-align:center;">
                <strong><span style="font-size:14px;"></span></strong>
            </p>
            <p class="MsoNormal" align="center" style="text-align:center;text-indent:45.2pt;">
                <strong><b>创<span>U</span>品质 智胜未来<span></span></b></strong>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                新的一年开启新的希望，新的历程承载新的梦想。值此<span>2019</span>年到来之际，我谨代表浙江力众环保科技有限公司向长期关心、支持、帮助公司发展的各级领导、各界朋友和新老客户，致以衷心的感谢和最<span></span>美好的祝福！向一年来为公司发展做出重要贡献的合作伙伴及全体员工，表示诚挚的谢意！祝大家新春愉快、幸福安康！<span></span>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                2018年，是公司为新一轮发展积蓄力量的重要一年，是我们乘风破浪、迎难而上，发展成果丰硕的一年。<span></span>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                2018年，是我们共同探讨在“绿水青山就是金山银山”的大国策下如何为全国用户提供更好服务的一年。
            </p>
            <p style="text-align:left;text-indent:21pt;">
                2018年，力众蓝天茁壮成长。企业的发展离不开合作伙伴的支持、员工的努力。<span>80</span>后、<span>90</span>后的加入，让力众蓝天愈发朝气蓬勃、年轻向上。<span></span>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                过去的一年，我们凝心聚力，团结拼搏。我们的车用尿素，为国五、国六系统提供一站式解决方案。<span></span>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                金戈铁马闻征鼓，只争朝夕启新程。<span></span>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                2019年，作为车用尿素行业的领导品牌，力众蓝天将抓住机遇，创新智造，将继续专于心，勤于业，实于行。<span></span>
            </p>
            <p style="text-align:left;text-indent:21pt;">
                机遇蕴含精彩，创新成就伟业。<span>2019</span>年，正是我们创造梦想、扬帆起航的关键之年。让我们以更加进取的精神、更加创新的思维、更加务实的作风、更加坚实的步伐，坚定信心，凝心聚力，团结拼搏，携手为打赢蓝天保卫战而奋斗！
            </p>
        </div>
    </div>
    {{/block}}

    {{block 'footer'}}
        {{include "blocks/footer.html" }}
    {{/block}}

    {{block 'extra_js'}}
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

            window.onload=function(){
                prozc();
                dd(0)
            }
            profilescroll();

            $(window).scroll(function(){
                profilescroll();
            })
    </script>
    {{/block}}