.reg-content table td.regfir input.error{
	 border: 1px solid #D70128;
}
.login-form table td.loginfir input.error{
	 border: 1px solid #D70128;
}
.buy-wrap .delivery .tex.error{
	 border: 1px solid #D70128;
}
.shop-wrap .fr .delivery .tex.error{
	 border: 1px solid #D70128;
}
input.error{
	 border: 1px solid #D70128;
}
/* pager style */
.page{
	padding:10px 0;
	font-size:12px;
	font-weight:bold;
	line-height:22px;
	text-align:center;
	clear:both;}
.page a{
	text-decoration:none;
	color:#8698b6;
	background:#fff;
	border:1px solid #CCCCCC;
	padding:3px 6px;
	padding-bottom:2px;
	margin-right:3px}
.page a.active{
	background:#8b8b8b;
	border:1px solid #8b8b8b;
	color:#fff}
.page a:hover{
	text-decoration:none;
	color:#fff;
	background:#8b8b8b;
	border:1px solid #8b8b8b}

/*新增页面的样式*/

.inner{ width: 1200px; margin: auto;}
.n-tit{ text-align: center;}
.n-tit h2{ font-size: 36px; color: #7cb62d; margin: 50px 0 13px 0;}
.n-tit p{ font-size: 16px; color: #333;}
.map{ text-align: center; padding-top: 18px;}
.case{ background: #eee; padding: 50px 0 35px 0;}
.title-b{ background: url("../img/public/tit_bg.png"); width: 568px; height: 70px; text-align: center; line-height: 70px; color: #fff; font-size: 36px; margin: auto;}
.case-list{ margin-top: 50px;}
.case-list ul{ margin-left: -15px;}
.case-list li{ float: left; width: 390px; margin:0 0 15px 15px; height: 300px; overflow: hidden;}
.case-list li img{ width: 100%; height: 300px; transition: all .5s ease;}
.case-list li:hover img{ transform: scale(1.1,1.1)}
.support{ padding-top: 50px;}
.support .support-box{ position: relative; margin-top: 96px; height: 562px; background: url("../img/public/number.jpg") 116px top no-repeat;}
.support .support-box li{ position: absolute;}
.support .support-box li h2{ font-size: 36px; color: #333; margin-top: 58px; padding-left: 30px;}
.support .support-box li p{ color: #555; font-size: 16px; line-height: 30px; margin-top: 30px;}
.support .support-box .support-1{ left: 86px; top:0; width: 408px;}
.support .support-box .support-1 h2{ text-align: right; padding-right: 13px;}
.support .support-box .support-2{ left: 712px; top:0;}
.support .support-box .support-2 h2{ padding-left: 74px;}
.support .support-box .support-2 p{  padding-left: 228px;}
.support .support-box .support-3{ left: 436px; top:288px;}
.support .support-box .support-3 h2{ margin-top: 138px;}
.support-item{ margin-top: 20px;}
.support-item dl{ height: 176px; background: url("../img/public/item_bg.png"); padding-left: 209px; width: 718px; margin: 0 auto 76px auto;color: #333;}
.support-item dt{ font-size: 24px; padding-top: 18px; font-weight: bold;}
.support-item dd{ font-size: 18px; margin-top: 22px;}
.support-item .sup-item2{ background-position: 0 -252px;}
.support-item .sup-item3{ background-position: 0 -491px;}
.support-item .sup-item3 dd,.support-item .sup-item4 dd{ margin-top: 28px;}
.support-item .sup-item4{ background-position: 0 -739px;}
.condition{ background: #f4f4f4; padding-top: 88px; margin-top: 44px;}
.term-list{ margin-top: 62px;}
.term-list ul{ margin-left: -40px;}
.term-list li{ float: left; width: 536px; height: 207px; background: url("../img/public/condition_item.png") 0 0 no-repeat; padding:46px 0 0 44px; margin: 0 0 40px 40px;}
.term-list li h2{ font-size: 24px;width: 500px; color: #333; background: #fff url("../img/public/condition_item.png") -48px -45px no-repeat; height: 60px; line-height: 60px;}
.term-list li p{ font-size: 18px; margin-top: 20px;}
.term-list .term-2 h2{ background-position: -676px -47px;}
.term-list .term-3 h2{ background-position: -46px -344px;}
.term-list .term-4 h2{ background-position: -676px -347px;}
.join-form{ margin-top: 84px;}
.sub-title{ font-size: 18px; text-align: center; color: #5e5e5e; margin-top: 44px;}
.form-box{ padding-bottom: 160px;width: 670px; margin: auto; padding-top: 45px;}
.form-box p,.form-box a{ border: 1px solid #bfbfbf; margin-bottom: 28px; height: 50px; line-height: 50px; padding-left: 31px; color: #6f6e6e;font-size: 18px;}
.form-box input{ border: 0; height: 50px; width: 566px; margin-left: 18px;}
.form-box a{ display: block; text-align: center; padding-left: 0;}
.form-box a:hover{ color: #fff; background: #7cb62d;}
.adv-box{ padding-top: 60px;}
.adv-tit{ margin-top: 62px; text-align: center;}
.adv-summary{ text-align: center; line-height: 2; font-size: 15px; color: #555; margin-top: 35px;}
.adv-banner{ text-align: center; margin-top: 45px;}
.adv-spport{ padding: 78px 0 166px 0; background: #f8f8f8; margin-top: 90px;}
.adv-spport dl{ text-align: center; margin-top: 60px;}
.adv-spport dt{ font-size: 36px; color: #333;}
.adv-spport dd{ font-size: 16px; color: #555; line-height: 30px; margin-top: 20px;}
.adv-item{ width: 1108px; height: 632px; background: url("../img/public/bj.png"); margin: 64px auto 0 auto;}
.adv-item li{ font-size: 16px; color: #555; height: 119px; margin-top: 24px; float: none; line-height: 30px; padding-left: 170px;}
.adv-item .ad-item-1{ padding-left: 98px;}
.adv-item .ad-item-2{ margin-top: -7px;}
.adv-item .ad-item-3{ padding-left: 0;}
.adv-item .ad-item-4{ padding-left: 160px; margin-top: -16px;}