
        <div class="pro-se-th">
            <div class="ul">
                <div class="li">
                <a href="/manager">
                    <img src="img/common/company_45.jpg"  width="76" height="76">
                    <div class="thtit">总经理致辞</div>
                   </a>
                </div>
                <div class="li">
                <a href="/social">
                    <img src="img/common/company_47.jpg" width="76" height="76">
                    <div class="thtit">社会责任</div>
                   </a>
                </div>
                <div class="li">
                <a href="/story">
                    <img src="img/common/company_50.jpg"  width="76" height="76">
                    <div class="thtit">品牌故事</div>
                    </a>
                </div>
                <div class="li">
                <a href="/develop">
                    <img src="img/common/company_52.jpg" width="76" height="76">
                    <div class="thtit">发展历程</div>
                   </a>
                </div>
            </div>
        </div>
